﻿@using TestWebApplication.Models

@model ChatViewModel

@{
    ViewData["Title"] = "Список сообщений";
}

<!DOCTYPE html>

<html>
<head>
    <title>Чат</title>
    <link rel="stylesheet" href="~/css/ChatStyle.css">
</head>
<body>

    <form method="post">
        <p>
            <label for="userID">Пользователь</label>
            <select id="userIdInput" class="form-control" name="userID">
                @foreach (UserModel userApp1 in Model.UserAppss)
                {
                    <option value="@userApp1.UserID">@userApp1.UserName</option>
                }

            </select>

        </p>

        <input type="hidden" id="timeofMessageInput" value="@DateTime.Now.ToShortTimeString()" name="timeOfMessage" />

        <label for="userID">Сообщение</label>
        <input type="text" id="textOfMessageInput" name="textOfMessage"/>
        <br />
        <input type="submit" id="sendMessageButton" value="Отправить" />

    </form>

    <hr />
   
    <div class="col-6"> 
    <ul id="messagesList"></ul>
    </div>
    
    <script src="~/signalr/dist/browser/signalr.min.js"></script>
    <script>

		var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
      
      

        document.getElementById("sendMessageButton")
            .addEventListener("click", function (e) {
                e.preventDefault();

                const data = new FormData();
				data.append("userid", document.getElementById("userIdInput").value);
				data.append("textofmessage", document.getElementById("textOfMessageInput").value);
                  data.append("timeofmessage", document.getElementById("timeofMessageInput").value);
         

                fetch("/Home/GetMessage", {
                    method: "POST",
                    body: data
                })
					.catch(error => console.error("Error: ", error));
            });

		connection.on("ReceiveMessage", function (messagefromchat) {
            var li = document.createElement("li");
            document.getElementById("messagesList").appendChild(li);
            li.textContent = `${messagefromchat.timeOfMessage} ${messagefromchat.userID}  says ${messagefromchat.textOfMessage}`;
        });

		connection.start();


        /*  
        document.getElementById("sendButton").addEventListener("click", function (event) {
            let userid = document.getElementById("userInput").value;
			let textofmessage = document.getElementById("messageInput").value;
			let timeofmessage = document.getElementById("timeinput").value;
			let messageid = document.getElementById("messageIdInput").value;
			connection.invoke("SendMessage", { "userid": parseInt(userid), "textofmessage": textofmessage, "timeofmessage":timeofmessage,"messageid":parseInt(messageid) }).catch(function (err) {
                return console.error(err.toString());
			});
            
            event.preventDefault();
        });
        */
    </script>

</body>
</html>
