﻿@model IEnumerable<TestWebApplication.Models.UserApp>

@{
	Layout = null;
}
<div class="row">
	<div class="donetable">
		<table class="tableofuser" >
			<thead>
				<tr>
					<td>Имя</td>
					<td>Логин</td>
					<td>Пароль</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var userApp in Model)
				{
					<tr>
						<td>@userApp.UserName</td>
						<td>@userApp.Login</td>
						<td>@userApp.Password</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>