﻿@model IEnumerable<TestWebApplication.Models.UserApp>
@{
    ViewData["Title"] = "Список пользователей";
    //Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <title>Список пользователей</title>
    <link rel="stylesheet" href="~/css/IndexStyle.css">
</head>
<body>

    <h3>Пользователи</h3>

    <div class="valuefordb">
        <form method="post">
            <p>
                <label for="UserName">Имя пользователя</label>
                <input type="text" name="UserName" id="userNameInput" />
            </p>
            <p>
                <label for="Login">Логин</label>
                <input type="text" name="Login" id="loginInput" />
            </p>
            <p>
                <label for="Password">Пароль</label>
                <input type="password" name="Password" id="passwordInput" />
            </p>
            <p>
                <input type="button" id="submitInputButton" value="Добавить" />
            </p>

        </form>
    </div>


    <div id="results"></div>




    @section scripts{

        <script src="~/jquery/dist/jquery.js"></script>

        <script type="text/javascript">

            $(function () {
                $("#submitInputButton").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetUsers",
                        data: { 'userName': $('#userNameInput').val(), 'login': $("#loginInput").val(), 'password': $("#passwordInput").val() },
                        success: function (response) {
                            $('#results').html(response);
                        },
                    });
                });
            });

        </script>
    }

</body>
</html >
