﻿@model IEnumerable<TestWebApplication.Models.EmailMessage>
@*
   
*@
@{
}


<div class="resultmessage">
    <table class="tableofuser" border="1">
        <thead>
            <tr>
                <td>Тема</td>
                <td>Сообщение</td>
                <td>Текст из файла</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
            <tr>
                <td>@message.subject</td>
                <td>@message.content</td>
                <td>@message.textFromTxt</td>
            </tr>
            }
        </tbody>
    </table>

</div>