﻿body {
}

h3{
	text-align: center;
	margin: 30px;
}

.valuefordbmessage {
	text-align: center;
	margin: 50px;
}

.messagefromdb {
	border: 2px solid grey;
}

tr {
	border: 1px solid grey;
}

td {
	border: 1px solid grey;
}

.messagefromdb {
	
	text-align: center;
	width: 600px;
	margin: auto;
}