body {
}

h3{
	
	margin : 30px;
}


.valuefordb{
	margin : 30px;

}

.tableofusers {
	border: 2px solid grey;
}
/* границы ячеек первого ряда таблицы */
tr {
	border: 1px solid grey;
}
/* границы ячеек тела таблицы */
td {
	border: 1px solid grey;
}

.tableofusers {
	text-align: center;
	width: 600px;
	margin: auto;
}

.emaildata{
	text-align: right;
}